doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Evgeniy Sonin

    link(href='src/css/style.css', rel='stylesheet')
    link(rel="icon", type="image/png", href="src/images/favicon16.png")
    link(rel="icon", type="image/png", href="src/images/favicon32.png")
    link(href='lib/bootstrap.css', rel='stylesheet')
    link(href='lib/jquery.fullPage.css', rel='stylesheet')

    script(type="text/javascript" src="lib/jquery-3.2.1.min.js")
    script(type="text/javascript" src="lib/jquery.fullpage.min.js")
    script(type="text/javascript" src="src/js/main.js")

    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-113142222-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-113142222-1');

  body
    .page404

      h1.text404 404 Not Found
      p.info404 The page you are looking for can`t be found.

      .botton404
        a.botton404_link(href='index.html') Back to Homepage

