doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Evgeniy Sonin

    link(href='/src/styles/css/style.css', rel='stylesheet')
    link(rel="icon", type="image/png", href="/src/images/favicon.png")
    link(href='/lib/bootstrap.css', rel='stylesheet')
    link(href='/lib/jquery.fullPage.css', rel='stylesheet')

    script(type="text/javascript" src="lib/jquery-3.2.1.min.js")
    //script(type="text/javascript" src="lib/jquery.fullPage.js")
    script(type="text/javascript" src="lib/jquery.fullpage.min.js")


    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(type="text/javascript" src="src/js/main.js")

  body

    .loader_box
      .loader
        p.line-1.anim-typewriter made by sonin

    //nav.navbar.navbar-default.col-sm-offset-5.col-md-offset-5
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed.hamburger-menu(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            .bar

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar_list#menu
            li.navbar_item(data-menuanchor='secondPage')
              a.navbar_link(href='#secondPage') skills
            li.navbar_item(data-menuanchor='3rdPage')
              a.navbar_link(href='#3rdPage') biography
            li.navbar_item(data-menuanchor='4thPage')
              a.navbar_link(href='#4thPage') works
            li.navbar_item(data-menuanchor='5thPage')
              a.navbar_link(href='#5thPage') contacts


    #fullpage

      .section.section1.active#section1

        header
          .menu_wrapper
            span.arrow_right.arrow_menu
              svg
              span.arrow_right--part1
              span.arrow_right--part2

            span.arrow_top
              span.arrow_top--part1
              span.arrow_top--part2

            .menu_case
              span.line.line_left
              span.line.line_top
              span.line.line_bottom
              span.line.line_right

            nav.navbar.navbar-default
                .navbar-header
                  button.navbar-toggle.collapsed.hamburger-menu(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    .bar

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav.navbar_list
                    li.navbar_item
                      a.navbar_link(href='#secondPage') skills
                        .hover_top
                        .hover_side
                    li.navbar_item
                      a.navbar_link(href='#3rdPage') biography
                    li.navbar_item
                      a.navbar_link(href='#4thPage') works
                    li.navbar_item
                      a.navbar_link(href='#5thPage') contacts

          .logo_wrapper
            span.arrow_left
              svg
              span.arrow_left--part1
              span.arrow_left--part2

            span.arrow_top
              span.arrow_top--part1
              span.arrow_top--part2
            //.logo_case
              span.line.line_horizontal
              span.line.line_vertical
            .logo_case
              span.line.line_left
              span.line.line_top
              span.line.line_bottom
              span.line.line_right

              a.logo.animation(href='index.html')
                span.logo_img



        .header_me
          img.header_img(src='src/images/me.png')

        .title_wrapper
          span.arrow_left.arrow_title
            svg
            span.arrow_left--part1
            span.arrow_left--part2

          span.arrow_bottom
            span.arrow_bottom--part1
            span.arrow_bottom--part2

          .title_case
            span.line.line_top
            span.line.line_left
            span.line.line_bottom
            span.line.line_right

          .title
            h1 About me
            p
            | Hi, my name is Evgeniy Sonin.
            =' '
            br
            | I am front-end developer,
            =' '
            br
            | kitesurfer and snouborder.





      .section.section2#section2

        .skills_wrapper
          span.arrow_left
            svg
            span.arrow_left--part1
            span.arrow_left--part2

          span.arrow_top.mov
            span.arrow_top--part1
            span.arrow_top--part2

          .skills_case
            span.line.line_top
            span.line.line_left
            span.line.line_bottom
            span.line.line_right

          h1.skills skills



        .level_wrapper
          span.arrow_left
            svg
            span.arrow_left--part1.mov
            span.arrow_left--part2.mov

          span.arrow_bottom
            span.arrow_bottom--part1
            span.arrow_bottom--part2

          .level_case
            span.line.line_top
            span.line.line_left
            span.line.line_bottom
            span.line.line_right

          .level
            svg.triangle(fill='url(#linear-gradient)' viewBox="0 0 100 500")
              defs
                lineargradient#MyGradient(gradienttransform='rotate(90)')
                  stop(offset='0%', stop-color='green')
                  stop(offset='50%', stop-color='orange')
                  stop(offset='95%', stop-color='red')
              path.triline(fill='url(#MyGradient)', stroke='#c3c3c3', stroke-width='3', d='M10 10 L10 500 L90 10 Z')
              animatetransform(attributename='transform', attributetype='XML', type='scale', from='3', to='2', begin='`s', dur='3s', repeatcount='indefinite', additive='sum')



        ul.skills_list
          .row
            .col
              li.skills_item.skills_item__html
                .skills_img.skills_img__html
              li.skills_item.skills_item__css
                .skills_img.skills_img__css
              li.skills_item.skills_item__less
                .skills_img.skills_img__less
              li.skills_item.skills_item__sass
                .skills_img.skills_img__sass
          .row
            .col
              li.skills_item.skills_item__bootstrap
                .skills_img.skills_img__bootstrap
              li.skills_item.skills_item__bem
                .skills_img.skills_img__bem
              li.skills_item.skills_item__photoshop
                .skills_img.skills_img__photoshop
              li.skills_item.skills_item__illustrator
                .skills_img.skills_img__illustrator
              li.skills_item.skills_item__premier
                .skills_img.skills_img__premier
          .row
            .col
              li.skills_item.skills_item__git
                .skills_img.skills_img__git
              li.skills_item.skills_item__gulp
                .skills_img.skills_img__gulp
          .row
            .col
              li.skills_item.skills_item__javas
                .skills_img.skills_img__javas
              li.skills_item.skills_item__jquery
                .skills_img.skills_img__jquery
              li.skills_item.skills_item__node
                .skills_img.skills_img__node




      .section.section3#section3


        .experience_wrapper
          span.arrow_left
            svg
            span.arrow_left--part1
            span.arrow_left--part2
          span.arrow_top
            span.arrow_top--part1
            span.arrow_top--part2

          .experience_case.mov
            span.line.line_left
            span.line.line_top
            span.line.line_bottom
            span.line.line_right

          h1.experience_text.resume_main.resume_work Work Experience


        .experience1_wrapper
          span.arrow_right
            svg
            span.arrow_right--part1
            span.arrow_right--part2

          span.arrow_top
            span.arrow_top--part1
            span.arrow_top--part2

          .experience1_case
            span.line.line_left
            span.line.line_top
            span.line.line_bottom
            span.line.line_right

          .experience1_block
              p.resume_year 2013 – 2015
                =' '
                strong.resume_organisation Kyivoblenergo

              p.resume_text Engineer 1 category.

              ul.resume_list
                li.resume_item development of tender documentation;
                li.resume_item conducting tenders (for purchasing goods);
                li.resume_item development of a supplier selection strategy, supplier search and selection;
                li.resume_item contractual work: agreement and conclusion of contracts, evaluation of the supplier's work in accordance with the concluded contracts;
                li.resume_item analysis of the needs of the company, price planning;

        .experience2_wrapper
          span.arrow_right
            svg
            span.arrow_right--part1
            span.arrow_right--part2

          .experience2_case
            span.line.line_left.mov
            span.line.line_top.mov
            span.line.line_bottom.mov
            span.line.line_right.mov

          .experience2_block

              p.resume_text 2010 – 2012
                ='   '
                strong.resume_organisation  Universal Bank

              p.resume_text IT specialist

              ul.resume_list
                li.resume_item technical support of users;
                li.resume_item server infrastructure support;
                li.resume_item computer maintenance;



        .education_wrapper
          span.arrow_left
            svg
            span.arrow_left--part1
            span.arrow_left--part2

          span.arrow_bottom
            span.arrow_bottom--part1
            span.arrow_bottom--part2

          .education_case
            span.line.line_left
            span.line.line_top
            span.line.line_bottom
            span.line.line_right

          h1.education_main Education


        .university_wrapper
          span.arrow_right
            svg
            span.arrow_right--part1
            span.arrow_right--part2

          span.arrow_bottom
            span.arrow_bottom--part1
            span.arrow_bottom--part2

          .university_case
            span.line.line_left
            span.line.line_top
            span.line.line_bottom
            span.line.line_right

          p.university_text 2006 - 2011
                  strong.university_name  National Transport University
                  =' '
                  br
                  | Automechanical Faculty
                  =' '
                  br
                  | Specialty: Automobiles

        .botton_wrapper

          span.arrow_right
            span.arrow_right--part1
            span.arrow_right--part2

          span.arrow_left
            span.arrow_left--part1
            span.arrow_left--part2

          span.arrow_bottom
            span.arrow_bottom--part1
            span.arrow_bottom--part2

          .botton_case
            span.line.line_left
            span.line.line_top
            span.line.line_bottom
            span.line.line_right

          .botton
              a.botton_link(href='/src/Resume Sonin.Ievgen.pdf') download resume





      .section.section4#section4
        .works_wrapper
          span.arrow_left
            svg
            span.arrow_left--part1
            span.arrow_left--part2

          span.arrow_top
            span.arrow_top--part1
            span.arrow_top--part2

          .works_case
            span.line.line_left
            span.line.line_top
            span.line.line_bottom
            span.line.line_right

          h1.works_header works

        .row
          ul.works_list
            li.works_item
              a.works_link.col(href='#')
                img.works_img(src='/src/images/siteAO.jpg')
            li.works_item
              a.works_link.col(href='#')
                img.works_img(src='/src/images/sitevideopro.jpg')







      .section.section5#section5
        .mailtous

          form.mailtous__form(data-toggle='validator', role='form')
            span.mailtous__name let`s talk!
            .form-group
              label.control-label(for='inputEmail') email
              input#inputEmail.form-control(type='email', placeholder='', data-error='Bruh, that email address is invalid', required='')
              span.outline_form.mov
              .help-block.with-errors
            .form-group.form-message
              label.control-label.control-label__message(for='inputMessage') message
              textarea#inputMessage.form-control(type='message', rows="1", data-minlength='6', placeholder='', required='')
              span.outline_form.mov
              .help-block.with-errors

            .form-group.form-botton
              button.btn.btn-default(type='submit') send








