.section5
  background: url("/src/images/contbg.jpg") no-repeat center
  background-size: cover

.section5:before
  content: ""
  position: absolute
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.7)

.form-group
  margin-top: 30px

.control-label
  color: #c3c3c3
  opacity: 0

.form-control
  background-color: transparent
  border: none
  
.outline_form
  height: 2px
  width: 0
  background-color: #c3c3c3
  position: absolute

.form-botton
  margin: 70px 0
  width: 260px
  opacity: 0

.btn-default
    color: #c3c3c3
    font-size: 1.5em
    text-transform: uppercase
    border: 2px solid #c3c3c3
    padding: 20px 35px
    cursor: pointer

    &:hover
      background: #c3c3c3
      color: #000
      text-decoration: none


.formname_wrapper
  position: absolute
  top: 0
  left: 0
  width: 38%
  height: 30%

  .arrow
    &_left
      width: calc(100% - 180px)
      height: 50px
      bottom: 0
      top: auto

    &_top
      width: 180px
      height: calc(100% - 50px)

  .formname_case
    position: absolute
    bottom: 0
    right: 0
    width: 180px
    height: 50px

  .formname_name
    color: #c3c3c3
    font-size: 3em
    font-weight: 600
    position: absolute
    bottom: 0
    right: 0
    opacity: 0

.mailtous_wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 65%

  .arrow
    &_left
      width: calc(43% - 225px)
      height: 300px
      bottom: 0
      top: auto

    &_right
      width: calc(57% - 225px)
      height: 300px

    &_top
      left: calc(43% - 225px)
      width: 450px
      height: calc(100% - 300px)

  .mailtous_case
    position: absolute
    bottom: 0
    left: calc(43% - 225px)
    width: 450px
    height: 300px

  .mailtous
    position: absolute
    bottom: 0
    left: calc(43% - 225px)
    width: 450px
    height: 300px



.section5.active

  .formname_wrapper

    .arrow

      &_left

        &:before
          animation: setArrowLeft 1.2s ease forwards
          animation-delay: 1s
        &--part1
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.3s
        &--part2
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.3s

      &_top

        &:before
          animation: setArrowTop 1.2s ease forwards
          animation-delay: 1s

        &--part1
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.3s

        &--part2
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.3s

    .formname_case

      .line

        &_left
          animation: lineHeight 1.1s ease forwards
          animation-delay: 1.3s

        &_top
          animation: lineWidth 1.1s ease forwards
          animation-delay: 1.3s

        &_right
          animation: lineHeight 1.1s ease forwards
          animation-delay: 1.3s

        &_bottom
          animation: lineWidth 1.1s ease forwards
          animation-delay: 1.3s

    .formname_name
      animation: logoOpacity .6s ease forwards
      animation-delay: 1.6s


  .mailtous_wrapper

    .arrow

      &_left

        &:before
          animation: setArrowLeft 1.2s ease forwards
          animation-delay: 1.3s
        &--part1
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.6s
        &--part2
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.6s

      &_top

        &:before
          animation: setArrowTop 1.2s ease forwards
          animation-delay: 1.3s

        &--part1
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.6s

        &--part2
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.6s

      &_right

        &:before
          animation: setArrowRight 1.2s ease forwards
          animation-delay: 1.3s

        &--part1
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.6s

        &--part2
          animation: setArrowPart .6s ease forwards
          animation-delay: 1.6s

    .mailtous_case

      .line

        &_left
          animation: lineHeight 1.1s ease forwards
          animation-delay: 1.6s

        &_top
          animation: lineWidth 1.1s ease forwards
          animation-delay: 1.6s

        &_right
          animation: lineHeight 1.1s ease forwards
          animation-delay: 1.6s

        &_bottom
          animation: lineWidth 1.1s ease forwards
          animation-delay: 1.6s

    .formname_name
      animation: logoOpacity .6s ease forwards
      animation-delay: 1.6s

    .control-label
      animation: logoOpacity .6s ease forwards
      animation-delay: 1.6s

    .outline_form
      animation: formWidth 1.1s ease forwards
      animation-delay: 1.9s

  .form-botton
    animation: logoOpacity .6s ease forwards
    animation-delay: 1.9s




@media screen and (max-width: 767px)
  .formname_wrapper
    width: 90%
    right: 0
    left: auto

    .formname_name
      font-size: 2.5em
      left: 0

    .arrow
      &_left
        left: -10%
        width: 10%
      &_top
        left: 0
    .formname_case
      left: 0

  .mailtous_wrapper

    .mailtous
      width: 300px
      left: 10%

    .outline_form
      width: 300px
      opacity: 0

    .arrow_right
      width: calc(90% - 300px)

    .mailtous_case
      left: 10%
      width: 300px
