.section5
  background: url("/src/images/contbg.jpg") no-repeat center
  -webkit-background-size: cover
  background-size: cover

.section5:before
  content: ''
  background: rgba(0, 0, 0, 0.7)
  width: 100%
  height: 100%
  position: absolute



.mailtous
  //margin: 100px 20%
  width: 40%

  &__name
    color: #c3c3c3
    font-size: 3em
    font-weight: 600

.form-group
  margin-top: 30px

.control-label
  color: #c3c3c3

.form-control
  background-color: transparent
  border: none
  
.outline_form
  height: 2px
  width: 500px
  background-color: #c3c3c3
  position: absolute

.form-botton
  margin: 70px 0
  width: 260px


.btn-default
    color: #c3c3c3
    font-size: 1.5em
    text-transform: uppercase
    border: 2px solid #c3c3c3
    padding: 20px 35px
    cursor: pointer

    &:hover
      background: #c3c3c3
      color: #000
      text-decoration: none
