body
  font-family: sans-serif
  transition: all 3s ease
*
  box-sizing: inherit
  transition-property: all
  transition-duration: .5s
  transition-timing-function: ease


.hamburger-menu
  position: absolute
  float: right
  right: 10%
  width: 60px
  height: 60px
  cursor: pointer

.navbar_item
  text-align: center


.navbar_link
  font-family: sans-serif
  line-height: 80px
  display: block
  position: relative
  letter-spacing: 1px
  font-size: 1.6em
  color: #c3c3c3
  padding: 10px 20px
  opacity: 0
  animation: flipInX .6s ease forwards
  animation-delay: 1.5s

.navbar_link
  &:hover, &:active
    letter-spacing: 3px
    color: #c3c3c3 !important

.navbar_link
  &:after, &:before
    backface-visibility: hidden
    border: 1px solid rgba(#fff, 0)
    bottom: 0
    content: " "
    display: block
    margin: 0 auto
    position: relative
    transition: all 280ms ease-in-out
    width: 0

.navbar_link
  &:hover:after, &:hover:before
    backface-visibility: hidden
    border-color: #c3c3c3
    transition: width 350ms ease-in-out
    width: 80%


.navbar_link:hover:before
  bottom: auto
  top: 0
  width: 80%



.bar
  width: 50px
  height: 5px
  top: -26px
  &:after, &:before
    width: 50px
    height: 5px
  position: relative
  transform: translateY(25px)
  background: #c3c3c3
  transition: all 0ms 300ms
  &.animate
    background: rgba(255, 255, 255, 0)
  &:before
    content: ""
    position: absolute
    left: 0
    bottom: 17px
    background: #c3c3c3
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
  &:after
    content: ""
    position: absolute
    left: 0
    top: 17px
    background: #c3c3c3
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
  &.animate
    &:after
      top: 0
      transform: rotate(45deg)
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
    &:before
      bottom: 0
      transform: rotate(-45deg)
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)










.logo
  height: 110px
  width: 140px
  position: absolute
  top: 100px
  left: 15%
  z-index: 500
  transition: all 0.5s ease
  opacity: 0
  animation: flipInX .6s ease forwards
  animation-delay: 1.5s

  .logo_img
    background: url("/src/images/logo.png") no-repeat center center
    -webkit-background-size: 100%
    background-size: 100%
    display: inline-block
    height: 100%
    width: 100%


.logo
  .logo_img:hover
    background: url("/src/images/logoSun.png") no-repeat center center
    -webkit-background-size: 100%
    background-size: 100%
    -webkit-transition: background 0.5s ease
    -moz-transition: background 0.5s ease
    transition: background 0.5s ease



.section1
  padding: 0 15%
  //background: linear-gradient(to bottom, #211c10 0%,#443c32 100%)
  background: url("/src/images/headerbg.jpg") no-repeat center
  background-size: cover
  width: 100%
  height: 100vh
  display: table

  .section_me
    height: 80%
    position: absolute
    bottom: 0
    right: 12%
    transition: all 1s ease
    overflow: hidden
    width: 600px
    opacity: 0
    animation: movFromBottom .6s ease forwards
    animation-delay: 2s

  .section_img
    position: absolute
    margin: 0 auto
    height: 100%
    right: 0
    bottom: -50px


.section1_title
  display: table-cell
  position: relative
  vertical-align: middle
  padding-left: 17%
  font-size: 2em
  line-height: 1.5em
  color: #c3c3c3
  transition: all 0.5s ease
  opacity: 0
  animation: opaCity .6s ease forwards
  animation-delay: 1.5s

  h1
    font-size: 2.3em

.section2
  height: 1000px

@media screen and (max-width: 767px)
  .section1
    padding: 0
  .logo
    height: 80px
    width: 100px
    position: absolute
    top: 30px
    left: 30px

  .hamburger-menu
    margin-top: 50px
  .navbar_list
    background: transparent

  .navbar_item
    width: 100%
    opacity: 0


  .navbar_link
    font-size: 1.8em
    height: 100%
    opacity: 1
    animation: none
    animation-delay: 0s

  .navbar_link
    &:after, &:before
      border: none



  .navbar-collapse.in
    .navbar_item
      top: 0
      vertical-align: middle
      text-align: center
      height: calc(25% + 1px)
      background: #000
      padding: 0
      margin: 0
      border-top: 1px solid #c3c3c3
      border-bottom: 1px solid #c3c3c3

  .section1
    overflow: hidden


  .section_me
    width: 100% !important
    overflow: hidden
    right: 0
    left: 0

  .section_img
    position: relative
    height: 100%
    right: 0
    left: 0
    bottom: -45% !important

  .section1_title
    vertical-align: top
    top: 150px
    padding: 0
    font-size: 1.7em
    position: absolute
    margin: 0 auto
    left: 0
    right: 0
    max-width: 330px



@media screen and (min-width: 768px) and (max-width: 991px)

  .navbar_item
    width: 100px !important

  .navbar_link
    font-size: 1.4em

  .section1
    padding: 0

  .section_me
    height: 80%
    position: absolute
    bottom: 0
    right: 10% !important


  .section_img
    position: absolute
    margin: 0 auto
    height: 100%
    right: 0

  .section1_title
    min-width: 370px
    padding-left: 12%
    font-size: 1.4em

@media screen and (min-width: 992px) and (max-width: 1200px)

  .section1
    padding: 0

  .section_me
    height: 80%
    position: absolute
    bottom: 0
    right: 10% !important


  .section_img
    position: absolute
    margin: 0 auto
    height: 100%
    right: 0

  .section1_title
    min-width: 480px
    padding-left: 30%
    font-size: 1.7em