.section3
  background: #151515
  color: #c3c3c3

.resume
  &_wrapper
    margin: 0 auto
    width: 70%

  &_block
    margin-bottom: 40px

  &_main
    font-size: 2em
    margin-top: 0

  &_bd
    margin-bottom: 80px

  &_organisation
    padding-left: 10px
    letter-spacing: 2px

  &_item
    font-size: 1.3em

  &_text
    font-size: 1.3em
    line-height: 1.3em
    margin-bottom: 20px

  &_botton
    margin: 0 auto
    width: 340px
    height: 170px
    border: 2px solid #c3c3c3

  &_link
    color: #c3c3c3
    padding-top: 50px
    cursor: pointer
