.section4
  background: #151515
  color: #c3c3c3

.works_wrapper
  position: absolute
  top: 0
  left: 0
  width: 35%
  height: 140px

  .arrow
    &_left
      width: calc(100% - 240px)
      height: 40px

    &_top
      width: 230px
      height: calc(100% - 40px)

  .works_case
    position: absolute
    bottom: 0
    right: 0
    width: 240px
    height: 40px



.works

  &_header
    font-size: 5em
    color: #c3c3c3
    text-transform: inherit
    font-weight: 600
    position: absolute
    bottom: 0
    right: 0

  &_list
    width: 70%
    margin: 0 auto
    padding: 0
    text-align: center

  &_item
    display: inline-block
    width: 35%
    height: 100%
    margin: 0 4%

  &_link
    width: 100%
    height: 100%

    &:hover
      .works_img
        width: 110%

  &_img
    width: 100%
    height: 100%


@media screen and (max-width: 767px)
  .works

    &_header
      font-size: 3.5em
      margin: 0 auto
      text-align: center

    &_list
      width: 70%
      margin: 0 auto
      padding: 0
      text-align: center

    &_item
      display: block
      width: 300px
      height: 300px
      margin: 50px auto
      overflow: hidden

    &_img
      width: 300px
      height: 550px

    &_link
      width: 100%
      height: 100%

      &:hover
        .works_img
          width: 330px
          height: 580px

  .works_item:hover
    width: 330px
    height: 330px


@media screen and (min-width: 1200px)
  .works

    &_item
      display: inline-block
      width: 25%
      height: 100%
      margin: 0 4%
