@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 7em; } }

@keyframes movFromBottom {
  0% {
    bottom: -1000px;
    opacity: 1; }
  70% {
    bottom: 0; }
  100% {
    bottom: -50px;
    opacity: 1; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

@keyframes logoOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0; }
  40% {
    transform: perspective(400px) rotateY(-20deg);
    opacity: 1; }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotateY(-5deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1; } }

@keyframes opaCity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes setMenu {
  from {
    opacity: 0;
    top: 1000px; }
  to {
    opacity: 1;
    top: 0; } }

@media screen and (max-width: 767px) {
  .navbar-collapse.in .navbar_item {
    top: 0;
    animation: setMenu 5.4s ease forwards;
    transition-delay: 0s;
    animation-duration: 0.4s;
    animation-delay: 0.1s; }
    .navbar-collapse.in .navbar_item:nth-child(2) {
      animation-delay: 0.2s; }
    .navbar-collapse.in .navbar_item:nth-child(3) {
      animation-delay: 0.3s; }
    .navbar-collapse.in .navbar_item:nth-child(4) {
      animation-delay: 0.4s; } }

@keyframes setArrowLeft {
  0% {
    left: -100%;
    opacity: 1; }
  30% {
    left: 50%;
    background-position: 0 0; }
  70% {
    left: 50%;
    background-position: 0 0; }
  100% {
    background-position: 300px 0; } }

@keyframes setArrowRight {
  0% {
    right: -100%;
    opacity: 1; }
  30% {
    right: 50%;
    background-position: 0 0; }
  70% {
    right: 50%;
    background-position: 0 0; }
  100% {
    background-position: 300px 0; } }

@keyframes setArrowTop {
  0% {
    bottom: 100%;
    opacity: 1; }
  30% {
    bottom: 0;
    background-position: 0 0; }
  70% {
    bottom: 0;
    background-position: 0 0; }
  100% {
    background-position: 0 100%; } }

@keyframes setArrowBottom {
  0% {
    top: 100%;
    opacity: 1; }
  30% {
    top: 0;
    opacity: 1; }
  70% {
    top: 0;
    background-position: 0 0;
    opacity: 1; }
  100% {
    background-position: 0 100%;
    opacity: 1; } }

@keyframes setArrowPart {
  0% {
    background-position: 15px 0;
    opacity: 1; }
  40% {
    background-position: 0 0; }
  70% {
    background-position: 0 0;
    opacity: 1; }
  100% {
    background-position: 15px 0; } }

@keyframes lineWidth {
  0% {
    width: 0;
    margin-left: 0; }
  60% {
    opacity: 1; }
  100% {
    width: 200%;
    margin-left: -100%;
    opacity: 0; } }

@keyframes lineHeight {
  0% {
    height: 0;
    margin-top: 0; }
  60% {
    opacity: 1; }
  100% {
    height: 200%;
    top: -50%;
    opacity: 0; } }

@keyframes lineHeightHover {
  0% {
    height: 0;
    margin-top: 0; }
  60% {
    opacity: 1; }
  100% {
    height: 200%;
    top: -50%;
    opacity: 1; } }

@keyframes lineWidthHover {
  0% {
    width: 0;
    margin-left: 0; }
  60% {
    opacity: 1; }
  100% {
    width: 200%;
    margin-left: -100%;
    opacity: 1; } }

@keyframes lineHeightSmall {
  0% {
    height: 0;
    margin-top: 0; }
  60% {
    opacity: 1; }
  100% {
    height: 150%;
    top: -25%;
    opacity: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes colors {
  0% {
    stop-color: transparent;
    margin-top: 401px; }
  85% {
    stop-color: transparent; }
  90% {
    stop-color: transparent; } }

@keyframes formWidth {
  0% {
    width: 0;
    margin-left: 0; }
  60% {
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 1; } }

@keyframes invert {
  0% {
    filter: invert(0); }
  50% {
    filter: invert(100%);
    opacity: 1; }
  100% {
    filter: invert(0);
    opacity: 1; } }
