.section {
  height: 100%; }

.section2 {
  background: #151515; }

.section2.active .arrow_left:before {
  animation: setArrowLeft 1.2s ease forwards;
  animation-delay: 0s; }

.section2.active .arrow_left--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .arrow_left--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .arrow_top:before {
  animation: setArrowTop 1.2s ease forwards;
  animation-delay: 0s; }

.section2.active .arrow_top--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .arrow_top--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .arrow_right:before {
  animation: setArrowRight 1.2s ease forwards;
  animation-delay: 0s; }

.section2.active .arrow_right--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .arrow_right--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .arrow_bottom:before {
  animation: setArrowBottom 1.2s ease forwards;
  animation-delay: 0s; }

.section2.active .arrow_bottom--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .arrow_bottom--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 0.3s; }

.section2.active .line_left {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 0.3s; }

.section2.active .line_top {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 0.3s; }

.section2.active .line_right {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 0.3s; }

.section2.active .line_bottom {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 0.3s; }

.section2.active .level_wrapper .arrow_left:before {
  animation: setArrowLeft .6s ease forwards;
  animation-delay: .9s; }

.section2.active .level_wrapper .arrow_left--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.2s; }

.section2.active .level_wrapper .arrow_left--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.2s; }

.section2.active .level_wrapper .arrow_bottom:before {
  animation: setArrowBottom 1.2s ease forwards;
  animation-delay: .9s; }

.section2.active .level_wrapper .arrow_bottom--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.2s; }

.section2.active .level_wrapper .arrow_bottom--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.2s; }

.section2.active .level_wrapper .level_case .line_left {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.2s; }

.section2.active .level_wrapper .level_case .line_top {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.2s; }

.section2.active .level_wrapper .level_case .line_right {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.2s; }

.section2.active .level_wrapper .level_case .line_bottom {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.2s; }

.section2.active .skills {
  animation: logoOpacity .6s ease forwards;
  animation-delay: .9s; }

.section2.active .skills_wrapper .arrow_left:before {
  animation: setArrowLeft 1.2s ease forwards;
  animation-delay: .3s; }

.section2.active .skills_wrapper .arrow_left--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: .6s; }

.section2.active .skills_wrapper .arrow_left--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: .6s; }

.section2.active .skills_wrapper .arrow_top:before {
  animation: setArrowTop 1.2s ease forwards;
  animation-delay: .3s; }

.section2.active .skills_wrapper .arrow_top--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: .6s; }

.section2.active .skills_wrapper .arrow_top--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: .6s; }

.section2.active .skills_case .line_left {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: .6s; }

.section2.active .skills_case .line_top {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: .6s; }

.section2.active .skills_case .line_right {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: .6s; }

.section2.active .skills_case .line_bottom {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: .6s; }

.section2.active .triline {
  animation: dash 1.3s linear forwards;
  animation-delay: 1.2s; }

.section2.active stop {
  animation: colors 1.6s ease;
  animation-delay: 0s; }

.section2.active .skills_item {
  animation: flipInY 1s ease forwards; }
  .section2.active .skills_item__html {
    animation-delay: 1.5s; }
  .section2.active .skills_item__css {
    animation-delay: 1.6s; }
  .section2.active .skills_item__less {
    animation-delay: 1.7s; }
  .section2.active .skills_item__sass {
    animation-delay: 1.8s; }
  .section2.active .skills_item__bootstrap {
    animation-delay: 1.5s; }
  .section2.active .skills_item__bem {
    animation-delay: 1.6s; }
  .section2.active .skills_item__photoshop {
    animation-delay: 1.7s; }
  .section2.active .skills_item__illustrator {
    animation-delay: 1.8s; }
  .section2.active .skills_item__premier {
    animation-delay: 1.9s; }
  .section2.active .skills_item__git {
    animation-delay: 1.5s; }
  .section2.active .skills_item__gulp {
    animation-delay: 1.6s; }
  .section2.active .skills_item__javas {
    animation-delay: 1.5s; }
  .section2.active .skills_item__jquery {
    animation-delay: 1.6s; }
  .section2.active .skills_item__node {
    animation-delay: 1.7s; }

.skills_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 20%; }
  .skills_wrapper .arrow_left {
    width: calc(100% - 205px);
    height: 80px;
    bottom: 0;
    top: auto; }
  .skills_wrapper .arrow_top {
    width: 205px;
    height: calc(100% - 80px); }

.skills_case {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 205px;
  height: 80px; }

.skills {
  font-size: 6em;
  position: absolute;
  color: #c3c3c3;
  right: 0;
  bottom: 0;
  text-transform: inherit;
  font-weight: 600;
  margin: 0;
  opacity: 0; }

.level_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32%;
  height: 75%; }
  .level_wrapper .arrow_left {
    top: 10px;
    width: calc(100% - 110px);
    height: 510px; }
  .level_wrapper .arrow_bottom {
    height: calc(100% - 520px);
    width: 110px; }
  .level_wrapper .level_case {
    position: absolute;
    top: 0;
    right: 0;
    width: 110px;
    height: 520px; }

.level {
  position: absolute;
  right: 0;
  top: 0; }

.triline {
  stroke-dasharray: 2300;
  stroke-dashoffset: 2300; }

.triangle {
  width: 110px;
  height: 520px; }

.skills_list {
  padding: 0;
  text-align: left;
  width: 540px;
  margin: 100px 0 0 40%; }

.skills_item {
  list-style: none;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 25px 10px;
  opacity: 0; }

.skills_img {
  border: 3px solid #c3c3c3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../images/skillSprite.png") no-repeat;
  -webkit-background-size: 400%;
  background-size: 400%;
  width: 100%;
  height: 100%; }
  .skills_img__html {
    background-position: 0 0; }
  .skills_img__css {
    background-position: -84px 0; }
  .skills_img__less {
    background-position: -168px 0; }
  .skills_img__sass {
    background-position: -252px 0; }
  .skills_img__javas {
    background-position: 0 -84px; }
  .skills_img__jquery {
    background-position: -84px -84px; }
  .skills_img__bootstrap {
    background-position: -168px -84px; }
  .skills_img__bem {
    background-position: -252px -84px; }
  .skills_img__git {
    background-position: 0 -168px; }
  .skills_img__gulp {
    background-position: -84px -168px; }
  .skills_img__premier {
    background-position: -168px -168px; }
  .skills_img__photoshop {
    background-position: -252px -168px; }
  .skills_img__illustrator {
    background-position: -84px -252px; }
  .skills_img__node {
    background-position: 0 -252px; }

@media screen and (max-width: 767px) {
  .skills_wrapper {
    width: 100%; }
    .skills_wrapper .arrow_left {
      width: calc(50% - 75px);
      height: 66px;
      bottom: 0;
      top: auto; }
    .skills_wrapper .arrow_top {
      right: calc(50% - 75px);
      width: 150px;
      height: calc(100% - 66px); }
    .skills_wrapper .skills_case {
      right: calc(50% - 75px);
      width: 150px;
      height: 66px; }
    .skills_wrapper .skills {
      left: calc(50% - 75px);
      width: 150px; }
  .level_wrapper {
    width: 17%;
    height: 68%; }
    .level_wrapper .arrow_left {
      width: calc(100% - 80px);
      height: 400px; }
    .level_wrapper .arrow_bottom {
      height: calc(100% - 400px); }
    .level_wrapper .level_case {
      width: 80px;
      height: 400px; }
  .triangle {
    width: 80px;
    height: 400px; }
  .skills {
    font-size: 4.3em;
    text-align: center;
    left: 0; }
  .skills_list {
    min-width: 360px;
    width: 50%;
    margin: 100px 10% 0 30%; }
  .skills_item {
    width: 70px;
    height: 70px;
    margin: 15px 2px; }
  .skills_img {
    -webkit-background-size: 400%;
    background-size: 400%; }
    .skills_img__html {
      background-position: 0 0; }
    .skills_img__css {
      background-position: -64px 0; }
    .skills_img__less {
      background-position: -128px 0; }
    .skills_img__sass {
      background-position: -192px 0; }
    .skills_img__javas {
      background-position: 0 -64px; }
    .skills_img__jquery {
      background-position: -64px -64px; }
    .skills_img__bootstrap {
      background-position: -128px -64px; }
    .skills_img__bem {
      background-position: -192px -64px; }
    .skills_img__git {
      background-position: 0 -128px; }
    .skills_img__gulp {
      background-position: -64px -128px; }
    .skills_img__premier {
      background-position: -128px -128px; }
    .skills_img__illustrator {
      background-position: -64px -192px; }
    .skills_img__photoshop {
      background-position: -192px -128px; }
    .skills_img__node {
      background-position: 0 -192px; } }

@media screen and (max-width: 560px) {
  .level_wrapper {
    width: 20%;
    height: 74%; }
  .skills_list {
    min-width: 320px !important;
    margin: 100px 0 0 21%; }
  .skills_item {
    margin: 5px 2px !important; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .skills_list {
    width: 540px;
    margin: 100px 0 0 30%; }
  .level_wrapper {
    width: 22%; }
    .level_wrapper .level_case {
      width: 110px;
      height: 520px; } }
