.section3 {
  background: #151515;
  color: #c3c3c3; }

.resume_wrapper {
  margin: 0 auto;
  width: 70%; }

.resume_block {
  margin-bottom: 40px; }

.resume_main {
  font-size: 2em;
  margin-top: 0; }

.resume_bd {
  margin-bottom: 80px; }

.resume_organisation {
  padding-left: 10px;
  letter-spacing: 2px; }

.resume_list {
  margin: 0; }

.resume_item {
  font-size: 1.3em; }

.resume_text {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-bottom: 10px; }

.resume_botton {
  margin: 70px auto 0;
  width: 260px; }

.resume_link {
  color: #c3c3c3;
  font-size: 1.3em;
  text-transform: uppercase;
  border: 2px solid #c3c3c3;
  padding: 20px 35px;
  cursor: pointer; }
  .resume_link:hover {
    background: #c3c3c3;
    color: #000;
    text-decoration: none; }
