body {
  font-family: sans-serif;
  transition: all 3s ease; }

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease; }

.hamburger-menu {
  position: absolute;
  float: right;
  right: 10%;
  width: 60px;
  height: 60px;
  cursor: pointer; }

.navbar_item {
  text-align: center; }

.navbar_link {
  font-family: sans-serif;
  line-height: 80px;
  display: block;
  position: relative;
  letter-spacing: 1px;
  font-size: 1.6em;
  color: #c3c3c3;
  padding: 10px 20px;
  opacity: 0;
  animation: flipInX .6s ease forwards;
  animation-delay: 1.5s; }

.navbar_link:hover, .navbar_link:active {
  letter-spacing: 3px;
  color: #c3c3c3 !important; }

.navbar_link:after, .navbar_link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0; }

.navbar_link:hover:after, .navbar_link:hover:before {
  backface-visibility: hidden;
  border-color: #c3c3c3;
  transition: width 350ms ease-in-out;
  width: 80%; }

.navbar_link:hover:before {
  bottom: auto;
  top: 0;
  width: 80%; }

.bar {
  width: 50px;
  height: 5px;
  top: -26px;
  position: relative;
  transform: translateY(25px);
  background: #c3c3c3;
  transition: all 0ms 300ms; }
  .bar:after, .bar:before {
    width: 50px;
    height: 5px; }
  .bar.animate {
    background: rgba(255, 255, 255, 0); }
  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 17px;
    background: #c3c3c3;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 17px;
    background: #c3c3c3;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.logo {
  height: 110px;
  width: 140px;
  position: absolute;
  top: 100px;
  left: 15%;
  z-index: 500;
  transition: all 0.5s ease;
  opacity: 0;
  animation: flipInX .6s ease forwards;
  animation-delay: 1.5s; }
  .logo .logo_img {
    background: url("/src/images/logo.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    height: 100%;
    width: 100%; }

.logo .logo_img:hover {
  background: url("/src/images/logoSun.png") no-repeat center center;
  -webkit-background-size: 100%;
  background-size: 100%;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  transition: background 0.5s ease; }

.section1 {
  padding: 0 15%;
  background: url("/src/images/headerbg.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: table; }
  .section1 .section_me {
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 12%;
    transition: all 1s ease;
    overflow: hidden;
    width: 600px;
    opacity: 0;
    animation: movFromBottom .6s ease forwards;
    animation-delay: 2s; }
  .section1 .section_img {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    right: 0;
    bottom: -50px; }

.section1_title {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  padding-left: 17%;
  font-size: 2em;
  line-height: 1.5em;
  color: #c3c3c3;
  transition: all 0.5s ease;
  opacity: 0;
  animation: opaCity .6s ease forwards;
  animation-delay: 1.5s; }
  .section1_title h1 {
    font-size: 2.3em; }

.section2 {
  height: 1000px; }

@media screen and (max-width: 767px) {
  .section1 {
    padding: 0; }
  .logo {
    height: 80px;
    width: 100px;
    position: absolute;
    top: 30px;
    left: 30px; }
  .hamburger-menu {
    margin-top: 50px; }
  .navbar_list {
    background: transparent; }
  .navbar_item {
    width: 100%;
    opacity: 0; }
  .navbar_link {
    font-size: 1.8em;
    height: 100%;
    opacity: 1;
    animation: none;
    animation-delay: 0s; }
  .navbar_link:after, .navbar_link:before {
    border: none; }
  .navbar-collapse.in .navbar_item {
    top: 0;
    vertical-align: middle;
    text-align: center;
    height: calc(25% + 1px);
    background: #000;
    padding: 0;
    margin: 0;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3; }
  .section1 {
    overflow: hidden; }
  .section_me {
    width: 100% !important;
    overflow: hidden;
    right: 0;
    left: 0; }
  .section_img {
    position: relative;
    height: 100%;
    right: 0;
    left: 0;
    bottom: -45% !important; }
  .section1_title {
    vertical-align: top;
    top: 150px;
    padding: 0;
    font-size: 1.7em;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 330px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar_item {
    width: 100px !important; }
  .navbar_link {
    font-size: 1.4em; }
  .section1 {
    padding: 0; }
  .section_me {
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 10% !important; }
  .section_img {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    right: 0; }
  .section1_title {
    min-width: 370px;
    padding-left: 12%;
    font-size: 1.4em; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .section1 {
    padding: 0; }
  .section_me {
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 10% !important; }
  .section_img {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    right: 0; }
  .section1_title {
    min-width: 480px;
    padding-left: 30%;
    font-size: 1.7em; } }

.section2 {
  background: #151515; }

.skills_header {
  font-size: 6em;
  position: relative;
  color: #c3c3c3;
  left: 10%;
  text-transform: inherit;
  font-weight: 600;
  margin-top: 0; }

.skills_list {
  padding: 0;
  text-align: center;
  max-width: 1120px;
  margin: 50px auto; }

.skills_item {
  list-style: none;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 2%;
  opacity: 0; }

.section2.active .skills_item:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.section2.active .skills_item:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.section2.active .skills_item:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.section2.active .skills_item:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.section2.active .skills_item:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.section2.active .skills_item:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.section2.active .skills_item:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.section2.active .skills_item:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.section2.active .skills_item:nth-child(9) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.section2.active .skills_item:nth-child(10) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.section2.active .skills_item:nth-child(11) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }

.section2.active .skills_item:nth-child(12) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.section2.active .skills_item:nth-child(13) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

.section2.active .skills_item {
  animation: flipInY 1s ease forwards;
  animation-delay: .4s; }

.skills_img {
  border: 3px solid #c3c3c3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("/src/images/skillSprite.png") no-repeat;
  -webkit-background-size: 400%;
  background-size: 400%;
  width: 100%;
  height: 100%; }
  .skills_img__html {
    background-position: 0 0; }
  .skills_img__css {
    background-position: -114px 0; }
  .skills_img__less {
    background-position: -228px 0; }
  .skills_img__sass {
    background-position: -342px 0; }
  .skills_img__javas {
    background-position: 0 -114px; }
  .skills_img__jquery {
    background-position: -114px -114px; }
  .skills_img__bootstrap {
    background-position: -228px -114px; }
  .skills_img__bem {
    background-position: -342px -114px; }
  .skills_img__git {
    background-position: 0 -228px; }
  .skills_img__gulp {
    background-position: -114px -228px; }
  .skills_img__node {
    background-position: -228px -228px; }
  .skills_img__photoshop {
    background-position: -342px -228px; }
  .skills_img__premier {
    background-position: 0 -342px; }

@media screen and (max-width: 767px) {
  .skills_header {
    font-size: 4.3em;
    text-align: center;
    left: 0; }
  .skills_item {
    width: 90px;
    height: 90px; }
  .skills_img {
    -webkit-background-size: 400%;
    background-size: 400%; }
    .skills_img__html {
      background-position: 0 0; }
    .skills_img__css {
      background-position: -84px 0; }
    .skills_img__less {
      background-position: -168px 0; }
    .skills_img__sass {
      background-position: -252px 0; }
    .skills_img__javas {
      background-position: 0 -84px; }
    .skills_img__jquery {
      background-position: -84px -84px; }
    .skills_img__bootstrap {
      background-position: -168px -84px; }
    .skills_img__bem {
      background-position: -252px -84px; }
    .skills_img__git {
      background-position: 0 -168px; }
    .skills_img__gulp {
      background-position: -84px -168px; }
    .skills_img__node {
      background-position: -168px -168px; }
    .skills_img__photoshop {
      background-position: -252px -168px; }
    .skills_img__premier {
      background-position: 0 -252px; } }

@media screen and (min-width: 1200px) {
  .skills_header {
    left: 20%; } }

.section3 {
  background: #151515;
  color: #c3c3c3; }

.resume_wrapper {
  margin: 0 auto;
  width: 70%; }

.resume_block {
  margin-bottom: 40px; }

.resume_main {
  font-size: 2em;
  margin-top: 0; }

.resume_bd {
  margin-bottom: 80px; }

.resume_organisation {
  padding-left: 10px;
  letter-spacing: 2px; }

.resume_item {
  font-size: 1.3em; }

.resume_text {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 20px; }

.resume_botton {
  margin: 0 auto;
  width: 340px;
  height: 170px;
  border: 2px solid #c3c3c3; }

.resume_link {
  color: #c3c3c3;
  padding-top: 50px;
  cursor: pointer; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 7em; } }

@keyframes movFromBottom {
  0% {
    bottom: -1000px;
    opacity: 1; }
  70% {
    bottom: 0; }
  100% {
    bottom: -50px;
    opacity: 1; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0; }
  40% {
    transform: perspective(400px) rotateY(-20deg);
    opacity: 1; }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotateY(-5deg);
    opacity: 1; }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1; } }

@keyframes opaCity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes setMenu {
  from {
    opacity: 0;
    top: 200px; }
  to {
    opacity: 1;
    top: 0; } }

@media screen and (max-width: 767px) {
  .navbar-collapse.in .navbar_item {
    top: 0;
    animation: setMenu 0.4s ease forwards;
    transition-delay: 0s;
    animation-duration: 0.4s;
    animation-delay: 0.1s; }
    .navbar-collapse.in .navbar_item:nth-child(2) {
      animation-delay: 0.2s; }
    .navbar-collapse.in .navbar_item:nth-child(3) {
      animation-delay: 0.3s; }
    .navbar-collapse.in .navbar_item:nth-child(4) {
      animation-delay: 0.4s; } }

.section4 {
  background: #151515;
  color: #c3c3c3; }

.works_header {
  font-size: 5em;
  position: relative;
  color: #c3c3c3;
  left: 10%;
  text-transform: inherit;
  font-weight: 600;
  margin-top: 0; }

.section5 {
  background: url("/src/images/contbg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover; }

.loader_box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #000;
  opacity: 0.8; }
  .loader_box .loader {
    height: 60px;
    width: 200px;
    margin: -30px auto 0;
    right: 0;
    left: 0;
    top: 50%;
    display: inline-block;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999; }
  .loader_box .line-1 {
    color: #c3c3c3;
    position: relative;
    top: 50%;
    width: 10em;
    height: 40px;
    margin: 0 auto;
    border-right: 6px solid rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    z-index: 99; }
  .loader_box .anim-typewriter {
    animation: typewriter 0.4s steps(15) 1s 1 normal both, blinkTextCursor 650ms steps(15) infinite normal; }
