.section4 {
  background: #151515;
  color: #c3c3c3; }

.works_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 20%; }
  .works_wrapper .arrow_left {
    width: calc(100% - 205px);
    height: 77px; }
  .works_wrapper .arrow_top {
    width: 205px;
    height: calc(100% - 77px); }
  .works_wrapper .works_case {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 205px;
    height: 77px; }

.works_header {
  font-size: 5em;
  color: #c3c3c3;
  text-transform: inherit;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0; }

.works_list {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  text-align: center; }

.works_link {
  width: 100%;
  height: 100%; }
  .works_link:hover .works_img {
    width: 110%;
    margin: -10px; }

.works_img {
  width: 100%;
  height: 100%; }

.work1_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 47%;
  height: 70%; }
  .work1_wrapper .arrow_left {
    width: calc(100% - 240px);
    height: 450px;
    top: 0; }
  .work1_wrapper .arrow_bottom {
    width: 240px;
    height: calc(100% - 450px); }
  .work1_wrapper .work1_case {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 450px; }
  .work1_wrapper .work1_item {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: auto;
    opacity: 0; }

.work2_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 47%;
  height: 70%; }
  .work2_wrapper .arrow_right {
    width: calc(100% - 240px);
    height: 478px;
    top: 0; }
  .work2_wrapper .arrow_bottom {
    width: 255px;
    height: calc(100% - 450px);
    left: 0; }
  .work2_wrapper .work2_case {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 450px; }
  .work2_wrapper .work2_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: auto;
    opacity: 0; }

.section4.active .works_wrapper .arrow_left:before {
  animation: setArrowLeft 1.2s ease forwards;
  animation-delay: 1s; }

.section4.active .works_wrapper .arrow_left--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .arrow_left--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .arrow_top:before {
  animation: setArrowTop 1.2s ease forwards;
  animation-delay: 1s; }

.section4.active .works_wrapper .arrow_top--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .arrow_top--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .works_case .line_left {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .works_case .line_top {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .works_case .line_right {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .works_case .line_bottom {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.3s; }

.section4.active .works_wrapper .works_header {
  animation: logoOpacity .6s ease forwards;
  animation-delay: 1.9s; }

.section4.active .work1_wrapper .arrow_left:before {
  animation: setArrowLeft 1.2s ease forwards;
  animation-delay: 1.3s; }

.section4.active .work1_wrapper .arrow_left--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .arrow_left--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .arrow_bottom:before {
  animation: setArrowBottom 1.2s ease forwards;
  animation-delay: 1.3s; }

.section4.active .work1_wrapper .arrow_bottom--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .arrow_bottom--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .work1_case .line_left {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .work1_case .line_top {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .work1_case .line_right {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .work1_case .line_bottom {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work1_wrapper .work1_item {
  animation: logoOpacity .6s ease forwards;
  animation-delay: 1.9s; }

.section4.active .work2_wrapper .arrow_right:before {
  animation: setArrowRight 1.2s ease forwards;
  animation-delay: 1.3s; }

.section4.active .work2_wrapper .arrow_right--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper .arrow_right--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper_bottom:before {
  animation: setArrowBottom 1.2s ease forwards;
  animation-delay: 1.3s; }

.section4.active .work2_wrapper_bottom--part1 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper_bottom--part2 {
  animation: setArrowPart .6s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper .work2_case .line_left {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper .work2_case .line_top {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper .work2_case .line_right {
  animation: lineHeight 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper .work2_case .line_bottom {
  animation: lineWidth 1.1s ease forwards;
  animation-delay: 1.6s; }

.section4.active .work2_wrapper .work2_item {
  animation: logoOpacity .6s ease forwards;
  animation-delay: 1.9s; }

@media screen and (max-width: 767px) {
  .works_wrapper {
    height: 10%; }
    .works_wrapper .arrow_left {
      width: calc(100% - 144px);
      height: 53px;
      bottom: 0;
      top: auto; }
    .works_wrapper .arrow_top {
      width: 144px;
      height: calc(100% - 53px); }
    .works_wrapper .works_case {
      width: 144px;
      height: 53px; }
  .works_header {
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center; }
  .works_list {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
  .works_item {
    display: block;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    overflow: hidden; }
  .works_img {
    width: 300px;
    height: 550px; }
  .works_link {
    width: 100%;
    height: 100%; }
    .works_link:hover .works_img {
      width: 330px;
      height: 580px; }
  .works_item:hover {
    width: 330px;
    height: 330px; }
  .work1_wrapper {
    width: calc(50% + 150px);
    height: 80%; }
    .work1_wrapper .arrow_left {
      width: calc(100% - 300px);
      height: 300px; }
    .work1_wrapper .arrow_bottom {
      width: 230px;
      height: calc(100% - 300px); }
    .work1_wrapper .work1_case {
      width: 300px;
      height: 300px; }
    .work1_wrapper .work1_item {
      width: 300px;
      height: 300px;
      overflow: hidden; }
  .work2_wrapper {
    width: calc(50% + 150px);
    height: 40%; }
    .work2_wrapper .arrow_right {
      width: calc(100% - 300px);
      height: 300px; }
    .work2_wrapper .arrow_bottom {
      width: 300px;
      height: calc(100% - 300px);
      bottom: -100px; }
    .work2_wrapper .work2_case {
      width: 300px;
      height: 300px; }
    .work2_wrapper .work2_item {
      width: 300px;
      height: 300px;
      overflow: hidden; } }
